.footer {
    background: $blue;
    padding: 240px 0 140px;

    @include respond-to(media-small-large) {
        padding: 100px 0;
    }
    &__container {
        @include flexSpaceBetween;
        align-items: flex-start;

        @include respond-to(media-small-large) {
            flex-direction: column;
            row-gap: 50px;
        }
    }
    &__left {
        flex-shrink: 0;
        display: flex;

        @include respond-to(media-medium) {
            flex-direction: column;
            row-gap: 25px;
        }
        &__column {
            max-width: 320px;
            width: 100%;
            flex-shrink: 0;
            padding-right: 30px;
        }
    }
    &__subtitle {
        font-size: 33px;
        font-weight: 700;
        width: fit-content;
        margin-bottom: 0.7em;
        padding-bottom: 0.2em;

        @include respond-to(media-extra-small) {
            font-size: 26px;
        }
    }
    &__subtitle--underline {
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            background: $textColor;
        }
    }
    &__nav-list {
        li {
            margin-bottom: 0.5em;
        }
        a {
            text-decoration: none;
            font-size: 25px;
            font-weight: 500;
            text-transform: capitalize;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__right {
        @include flexColumn;
        align-items: flex-end;

        @include respond-to(media-small-large) {
            align-items: flex-start;
        }

        @include respond-to(media-extra-small) {
            width: 100%;
        }
        .footer__subtitle {
            text-align: right;

            @include respond-to(media-small-large) {
                text-align: left;
            }
        }
    }
    &__sign-up-container {
        @include flexCenter;
        column-gap: 1em;
        padding-bottom: 50px;
        width: 100%;

        @include respond-to(media-small-medium) {
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            padding-bottom: 30px;
        }
        .footer__input {
            @include inputSize;
            border: solid 3px $textColor;
            width: 100%;
            &::placeholder {
                color: rgba(255, 255, 255, 0.8);
            }
        }
        .white-btn {
            flex-shrink: 0;
        }
    }
    &__socials {
        @include flexCenter;
        column-gap: 40px;

        @include respond-to(media-small-medium) {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 15px;
        }

        span {
            font-size: 25px;
            font-weight: 500;
        }
    }
    &__social-btns {
        display: flex;
        column-gap: 65px;

        @include respond-to(media-extra-small) {
            column-gap: 35px;
        }
    }
}
